<h1>Stupid Coaching</h1>

<p class="inputs-grey">
  <%= @question %>
  <br /> -You
</p>
<p id="coach" class="inputs-grey">
  <strong><%= @answer %></strong>
  <br /> -Your coach
</p>

<%= link_to "New question", ask_path%>
